[Unit]
Description=LED Settings Daemon
After=remote-fs.target

[Service]
ExecStart=/etc/led_settings/settings-daemon.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target